@media screen and (max-width:1030px){

    .container-album{
        flex-wrap: wrap;
    }
    .album{
        width: calc(100% / 4 - 30px);
    }

    .stranger-things + p{
        text-align: center;
    }
    
}

@media screen and (max-width:890px){

    .container-album{
        flex-wrap: wrap;
    }

    .album{
        width: calc(100% / 2 - 30px);
    }

    .music-track{
        width: 300px;
    }

    .volume{
        width: 80px;
    }

}