*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container-main-aside{
    display: flex;
    flex-flow: row wrap;
    height: calc(100vh - 70px);
}

aside{
    background-color: black;
    flex-grow: 1;
    
}

main{
    background-color: #141922;
    flex-grow: 9;
}

footer{
    background-color: #282828;
    height: 70px;
    display: flex;
    flex-flow: row wrap;
}